<div id="head_logo">
  <div id="logo">
    Notes of Laihui
  </div>
  <div id="head_title">
    Note Everything, Record Life.
  </div>
</div>
<div id="head_action">
  <%= link_to 'Login',:controller=>"about" %> | <%=link_to 'About', :controller=>'about'  %> | <%=link_to 'Contact Me',:controller=>'about' %>
</div>

