<div id="head_logo">
  <div id="logo">
    Sun Notes
  </div>
  <div id="head_title">
    Laihui's blog
  </div>
</div>
<div id="head_action">
  <%=link_to 'About', :controller=>'about'  %> | <%= link_to 'Login',:controller=>"about" %>
</div>

